<%- include("../layouts/header", {title: title}) %>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center mb-4"><%= title %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex flex-wrap justify-content-around">
      <% if(books.length) { %> <% books.map((item, idx) => { %>
      <div class="card mb-3" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://via.placeholder.com/260x180.png"
          alt="<%= item.title %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= item.title %></h5>
          <p class="card-text"><%= item.description %></p>
          <a href="/books/<%= item._id %>" class="btn btn-primary">Подробнее</a>
          <br />
          <br />
          <a href="/books/edit/<%= item._id %>" class="btn btn-primary btn-light">
            <i class="bi bi-pencil"></i>
          </a>
          <a href="books/<%= item._id %>/delete" class="btn btn-primary btn-light">
            <i class="bi bi-trash"></i>
          </a>
          <a href="api/books/<%= item._id %>/download" class="btn btn-primary btn-light">Скачать</a>
        </div>
      </div>
      <% }); %> <% }else { %>
      <h3 class="mt-5">Книг пока нет</h3>
      <% } %>
    </div>
  </div>
</div>
<%- include("../layouts/footer") %>
